body {
    padding: 0px;
    margin: 0px;
    background-color: #ececec;
    display: flex;
}

.wrapper {
    background-color: #41bb55;
    margin: auto;
    padding: 18px;
}

.top {
    height: 50px;
    /* background-color: #c5c5c5; */
    color: white;
    font-family: sans-serif;
}

canvas {
    background-color: #c7f9ae;
}